@charset "utf-8";
/* CSS Document */
#upto21, #upto40, #bellow20 { display: none; }
  
.cards
{
	min-width: 300px;
	max-width: 340px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 10px;
	display: inline-block;
	margin: 10px;
}
.images
{
	border-radius: 100%;
	margin-top: 30%;
}
.images img
{
	border-radius: 100%;
	
}
.heading
{
	background: #EAF4DA;
	color: #1E0E0F;
	text-transform: uppercase;
	text-align: center;
	padding: 10px;
	margin-bottom: 2em;
	margin-top: 10px;
}
.details
{
	text-align: left;
}
#test
{
	color: #515050;
	width: 100%;
	margin: 10px;
	padding: 15px;
	border-radius: 20px;
	
}
.sub_head
{
	text-align: left;
	font-size: 20px;
}
hr
{
	margin-top: 1em;
	border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}